body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #222;
  --secondary-bg-color: #121212;
  --main-text-color: #fff;
  --logo-text-color: green;
  --main-border-color: green;
  --hover-color: rgba(0, 204, 255, 0.15);
}
body,
html {
  font-family: Tahoma;
  color: blue;
  color: var(--logo-text-color);
  background: #222;
}
* {
  box-sizing: border-box;
}
.beatmaker {
  background-color: #222;
  background-color: var(--main-bg-color);
  height: 600px;
  width: 800px;
  margin: auto;
}
.header {
  padding: 10px;
  background-color: #121212;
  background-color: var(--secondary-bg-color);
}
.play-button {
  align-self: center;
  justify-self: center;
  background: none;
  padding: 5px;
  margin: 10px 0 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.bpm,
.record,
.selector,
.play-button {
  border: 1px solid blue;
  border: 1px solid var(--main-border-color);
  color: blue;
  color: var(--logo-text-color);
}
.bpm {
  font-family: monospace;
  width: 60px;
  background: #222;
  background: var(--main-bg-color);
}
.record {
  align-self: center;
  justify-self: center;
  background: none;
  font-size: 12px;
  padding: 5px;
  margin-left: 10px;
}
.record-active {
  border-color: red;
  background-color: red !important;
}
.selection-container {
  margin-top: -160px;
}
.selector,
.selection-container {
  align-self: center;
  justify-self: center;
  background: none;
  font-size: 12px;
  padding: 5px;
  float: right;
}
.record-active {
  color: white;
  align-self: center;
  justify-self: center;
  background: blue;
  font-size: 12px;
  padding: 5px;
  margin-left: 10px;
}
.bpm,
.logo {
  font-size: 18px;
}
.logo {
  display: inline-block;
  margin: 0;
  font-family: Tahoma;
  color: green;
  color: var(--logo-text-color);
}
.trackArea {
  position: relative;
  display: flex;
  flex-direction: column;
}
.addButtons {
  position: absolute;
  margin-left: 36px;
  background: black;
}
.addTrack {
  border: 1px solid green;
  border: 1px solid var(--main-border-color);
  background: none;
  color: green;
  color: var(--logo-text-color);
  padding: 10px;
  /* margin: 10px 20px; */
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.addTrack:hover {
  background: rgba(0, 204, 255, 0.15);
  background: var(--hover-color);
}
.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.track {
  border-bottom: 1px solid #fc0;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.track-info {
  background: #333;
  flex: 0 0 120px;
  width: 120px;
  display: flex;
  padding: 5px;
  justify-self: stretch;
  position: relative;
  flex-direction: column;
}
.track-title-wrapper {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}
.track-number {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0;
  border: none;
}
.track-delete {
  background: red;
  color: white;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
  padding: 0;
  border: none;
}
.track-number,
.track-number.muted {
  background: green;
  background: var(--logo-text-color);
}
.track-number.muted {
  opacity: 0.5;
}
.track-steps {
  background: #222;
}
.track-title {
  margin: 0 0 0 5px;
  font-size: 16px;
  text-transform: capitalize;
}
.track-info label {
  font-size: 12px;
  display: block;
  flex: 1 1;
}
.track-info .gain {
  width: 105px;
}
.editor {
  display: block;
}
.marker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  z-index: 900;
  pointer-events: none;
  display: none;
  background: rgba(0, 255, 69, 0.15);
}
